@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: 0px;
    padding:0px;
    outline: none;
    border: none;
    background-color: antiquewhite;
}

form{
    display: flex;
    align-self: center;
    position: relative;
    width: 88.5%;
    gap: 30px;
    background-color:white ;
    flex-wrap: wrap;
    padding: 50px;
    bottom: -40px;
    align-items: center;
    justify-content: center;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:70%;
    position: absolute;
    right: 0px;
    background-color:antiquewhite;
    height: 99.3%;
    width: 878px;;
    
}

#part-div{
    background-color: gray;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part{
    flex: 30%;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    height: 100%;
}

#header{
   font-family: 'Martian Mono', monospace;
   position: absolute;
   top: 45px; 
   font-size: 45px;
}

input,label{
    display: block;
}

label{
    font-family: 'DM Serif Display', serif;
}

fieldset{
    padding: 40px;
    background-color:white;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

button{
    border-radius: 10px;
    background-color:greenyellow;
    font-weight:1000;
    font-size: 20px;
    color:aliceblue;
    width: 200px;
    height: 50px;
    font-family: 'DM Serif Display', serif;
}

a{
    text-decoration: none;
    color: green;
    font-family: 'DM Serif Display', serif;

}

#copyright{
    font-family: 'Lobster', cursive;

}

input{
    border-radius: 5px;
}


input:invalid{
    border:1px solid red;
}

input:valid{
    border: 1px solid green;
}



input:valid + span::before{
    content: "✓";
    color: green;
}


input[type="number"] + span::before{
    top:-40px ;
    right: -120px;

}

input[name="password-conf"] + span::before{
    top:-40px ;
    right: -183px;

}

input + span {
    position: relative;
}

input + span::before{
    position: absolute;
    right: -90px;
    top: -40px;
}

button:hover{
    color:black;
    background-color:burlywood
}